@model IEnumerable<HaberProjesi2.Models.Haber>
@{
    Layout = null;

}

<aside id="block_opinions" class="content">
    <ul>
        <li>
            <article>
                <div class="photo"><a href="#"><img src="/Content/images/content/opinions_1.jpg" alt="Photo" /></a></div>
                <div class="details">
                    <h4 class="title"><a href="#"></a></h4>
                    <p class="date">
                        <time datetime="2018-12-22">Aralik 22, 2018</time>
                        <span class="comments_count"><a href="#">27</a></span>
                    </p>
                </div>
                <p class="text">Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit...</p>
                <p class="text"><a href="#" class="view_all"><span><span>Read More</span></span></a></p>
            </article>
        </li>
        <li class="last">
            <article>
                <div class="photo"><a href="#"><img src="/Content/images/content/opinions_2.jpg" alt="Photo" /></a></div>
                <div class="details">
                    <h4 class="title"><a href="#">Quisque diam lorem, interdum vitae, dapibus ac..</a></h4>
                    <p class="date">
                        <time datetime="2018-12-22">Aralik 22, 2018</time>
                        <span class="comments_count"><a href="#">19</a></span>
                    </p>
                </div>
                <p class="text">Sed laoreet aliquam leo. Ut tellus tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna...</p>
                <p class="text"><a href="#" class="view_all"><span><span>Read More</span></span></a></p>
            </article>
        </li>
    </ul>
</aside>
