@model IEnumerable<HaberProjesi2.Models.Haber>
@{
    Layout = null;
}

<aside id="block_video" class="content">
    <div class="video"></div>
    <ul>
        <li class="vimeo"><a href="http://vimeo.com/36597329"></a></li>
        <li class="vimeo"><a href="http://vimeo.com/36597204"></a></li>
        <li class="vimeo"><a href="http://vimeo.com/36597088"></a></li>
        <li class="vimeo"><a href="http://vimeo.com/36596665"></a></li>
        <li class="vimeo"><a href="http://vimeo.com/36597718"></a></li>
        <li class="vimeo"><a href="http://vimeo.com/36597442"></a></li>
    </ul>
    <p><a href="#" class="view_all"><span><span>Tum Videoler</span></span></a></p>
</aside>
